<footer class="l-footer">
  <div class="l-footer_inner">
    <ul class="l-footer_list">
      <li class="l-footer_list-item"><a class="l-footer_list-link" href="/">TOPICS</a></li>
      <li class="l-footer_list-item"><a class="l-footer_list-link" href="/">COMPANY</a></li>
      <li class="l-footer_list-item"><a class="l-footer_list-link" href="/">PRODUCTION</a></li>
      <li class="l-footer_list-item"><a class="l-footer_list-link" href="/">FAQ</a></li>
      <li class="l-footer_list-item"><a class="l-footer_list-link" href="/">CONTACT</a></li>
    </ul>
    <ul class="l-footer_other">
      <li class="l-footer_other-item"><a class="l-footer_other-link" href="/">外部リンク</a></li>
      <li class="l-footer_other-item"><a class="l-footer_other-link" href="/">外部リンク</a></li>
      <li class="l-footer_other-item"><a class="l-footer_other-link" href="/">外部リンク</a></li>
      <li class="l-footer_other-item"><a class="l-footer_other-link" href="/">外部リンク</a></li>
      <li class="l-footer_other-item"><a class="l-footer_other-link" href="/">PRIVACY POLICY</a></li>
      <li class="l-footer_other-item"><a class="l-footer_other-link" href="/">SITE MAP</a></li>
    </ul>
    <div class="l-footer_logo"><a class="l-footer_logo-link" href="/">会社ロゴ</a></div>
    <p class="l-footer_copyright">© All Rights Reserved.</p>
  </div>
  <button class="l-footer_scrollTop js-scroll-top"></button>
</footer>
