<header class="l-header js-header">
  <div class="l-header_logo"><a class="l-header_logo-link" href="/">LOGO</a></div>
  <div class="l-header_gnav js-spnav-target">
    <ul class="l-header_gnav-list">
      <li class="l-header_gnav-item"><a class="l-header_gnav-link" href="/">TOPICS</a></li>
    <li class="l-header_gnav-item"><a class="l-header_gnav-link" href="/">COMPANY</a></li>
    <li class="l-header_gnav-item"><a class="l-header_gnav-link" href="/">PRODUCTION</a></li>
    <li class="l-header_gnav-item"><a class="l-header_gnav-link" href="/">FAQ</a></li>
    <li class="l-header_gnav-item"><a class="l-header_gnav-link" href="/">CONTACT</a></li>
    </ul>
  </div>
  <button class="l-header_sp-menu js-spnav-open" type="button">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
