<!DOCTYPE html>
<html lang="ja">
<head>
	{% include '../components/meta.njk' %}
	{% include '../components/resource.njk' %}
	{% include '../components/google-tag-manager.njk' %}
</head>
<body data-page-category="{{ category }}">
	{% include '../components/google-tag-manager-no-script.njk' %}
	{% include '../components/header.njk' %}
	<main class="l-main">
		{% include '../components/breadcrumb.njk' %}

		<div class="l-content">
			{%- if page_title -%}
			<div class="container">
				<div class="page-title">
					<h1 class="page-title-hdg">{{ page_title }}</h1>
					{%- if page_description -%}
						<p class="page-title-description">{{ page_description }}</p>
					{%- endif -%}
				</div>
			</div><!-- ページタイトル -->
			{%- endif -%}

			{% block content %}{% endblock %}
		</div><!-- /.l-content -->
	</main>
	{% include '../components/footer.njk' %}
	{% block modal %}{% endblock %}
</body>
</html>
